


.container-fluid{
justify-content: space-evenly;

}
.btn-css{
    background-color: rgba(255, 0, 0, 0.824);
    width: 150px;
    margin-left: 20px; 
}
.comma{
    color: rgba(255, 0, 0, 0.92);
}

.sliderimg{
    margin-top: 40px; 
}
.hr-des{
    color:rgba(245, 245, 245, 0.842);
    font-size:medium;
}

hr {
    border-top: 2px  dashed gray ;
    margin-left: 45px;
    margin-right: 45px; 
  }

.card1{
    background-image: url(./images/2.png),linear-gradient(rgba(0, 0, 0, 0.767),rgba(169, 169, 169, 0.046),rgba(255, 255, 255, 0.215));
    background-repeat: no-repeat;
    border-radius: 7px;
    background-size: cover;
    margin-left: 50px;
}
.card2{
    background-image: url(./images/3.png),linear-gradient(rgba(0, 0, 0, 0.767),rgba(169, 169, 169, 0.046),rgba(255, 255, 255, 0.215));
    background-repeat: no-repeat;
    border-radius: 7px;
    background-size: cover;
    margin-left: 50px; 
}
.card3{
    background-image: url(./images/4.png),linear-gradient(rgba(0, 0, 0, 0.767),rgba(169, 169, 169, 0.046),rgba(255, 255, 255, 0.215));
    background-repeat: no-repeat;
    border-radius: 7px;
    background-size: cover;
    margin-left: 50px; 
}

.card4{
    background-color: rgba(0, 128, 0, 0.749);
    color: black;
}

.icon1{
    font-size:medium;  
}
.imgcard1{
    width: 220px;
    
}
